<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package id="Autofac" version="7.1.0" targetFramework="net48" />
	<package id="ControlzEx" version="4.4.0" targetFramework="net48" />
	<package id="MahApps.Metro" version="2.4.10" targetFramework="net48" />
	<package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
	<package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
	<package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net48" />
	<package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
	<package id="NLog" version="5.2.6" targetFramework="net48" />
	<package id="NLog.Config" version="4.7.15" targetFramework="net48" />
	<package id="NLog.Schema" version="5.2.6" targetFramework="net48" />
	<package id="Rx-Core" version="2.2.5" targetFramework="net461" />
	<package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
	<package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
	<package id="Rx-Main" version="2.2.5" targetFramework="net461" />
	<package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
	<package id="Rx-WPF" version="2.2.5" targetFramework="net461" />
	<package id="Rx-XAML" version="2.2.5" targetFramework="net461" />
	<package id="System.Buffers" version="4.5.1" targetFramework="net48" />
	<package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
	<package id="System.Memory" version="4.5.5" targetFramework="net48" />
	<package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
	<package id="System.Reactive" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Core" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Interfaces" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Linq" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.PlatformServices" version="6.0.0" targetFramework="net48" />
	<package id="System.Reactive.Windows.Threading" version="6.0.0" targetFramework="net48" />
	<package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
	<package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
	<package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>